*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color:bisque;
}

p {
    font-size: 20px;
}

span {
    color: rgb(141, 8, 8);
    font-weight: bold;
    text-decoration-line: underline;
}

.container {
    background: #babdc4;
    display: flex;
    flex-direction: column;
    padding: 1vw 2vw 2vw;
    width: 800px;
    margin: 0 auto;
    border-radius: 10px;
}

img {
    max-width: 40%;
    height: auto;
    float: right;}

input[type=text] {
    border: 0;
    margin: 10px 0;
    padding: 4px;
    outline: none;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
    color:rgb(88, 27, 9)
}

h4 {
    text-align: center;
}

button {
    background-color: rgb(43, 102, 197);
    font-weight: bold;
    border: none;
    color: white;
    padding: 20px 32px;
    text-decoration: none;
    margin: 4px 2px;
    font-size: 20px;
    cursor: pointer;
}

button[type=reset] {  
    background-color: rgb(46, 48, 52);
    border: none;
    color: rgb(255, 255, 255);
    padding: 6px 44px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

label {
    margin-right: 10px;
}